<button *ngIf="!update" (click)="updateEdit(true)">Modo Edición</button>
<button *ngIf="update" (click)="updateEdit(false)">Modo Lectura</button>

<div *ngIf="editUser">
  <label *ngIf="update" for="first_name">First Name:</label>
  <input *ngIf="update" type="text" id="first_name" [(ngModel)]="editUser.name.first_name"><br>

  <label *ngIf="update" for="middle_name">Middle Name:</label>
  <input *ngIf="update" type="text" id="middle_name" [(ngModel)]="editUser.name.middle_name"><br>

  <label *ngIf="update" for="last_name">Last Name:</label>
  <input *ngIf="update" type="text" id="last_name" [(ngModel)]="editUser.name.last_name"><br>

  <label *ngIf="update" for="email">Email:</label>
  <input *ngIf="update" type="email" id="email" [(ngModel)]="editUser.email"><br>

  <label *ngIf="update" for="phone_number">Phone Number:</label>
  <input *ngIf="update" type="phone_number" id="phone_number" [(ngModel)]="editUser.phone_number"><br>

  <label *ngIf="update" for="gender">Gender:</label>
  <input *ngIf="update" type="text" id="gender" [(ngModel)]="editUser.gender"><br>

  <button *ngIf="update" type="button" (click)="updateUser()">Update User Details</button>
</div>
<div *ngIf="user">
  <h2>{{user.name.first_name}} {{user.name.middle_name}} {{user.name.last_name}}</h2>
  <div><span>ID:</span> {{user.id}}</div>
  <div><span>Email:</span> {{user.email}}</div>
  <div><span>Phone Number:</span> {{user.phone_number}}</div>
  <div><span>Gender:</span> {{user.gender}}</div>

  <h3>Posts:</h3>
  <ul>
    <li *ngFor="let post of getUserPosts(user.id)">
      <button (click)="showPostDetails.emit(post)">{{post.title}}</button>
    </li>
  </ul>
  
  <button (click)="deselect.emit()">Back to Users</button>
</div>